div.panel-body a{
    float:right;
    color:#0300ff;
}
div.panel-body {
    border: solid 1px gray;
}
div.panel.panel-default {
    border: solid 1px black;
    background: #d9d2d2;
}
a, a:visited  {
    color: #0300ff;
    text-decoration: none;
}
    a:active {
        color: #0300ff;
    }

ul li:hover, ol li:hover {
    background: none;
}
/*.panel-collapse.in {
padding:10px;
}*/