<link href="~/Styles/Certifications.css" rel="stylesheet" />
<h2>Сертификаты и разрешения</h2>
<p>    С 26 октября 2017 г. на предприятии сертифицирована система качества по ISO 9001:2015.    </p>
<p>&nbsp;</p>
<div class="panel-group">
    <div class="panel panel-default">
        <a data-toggle="collapse" href="#collapse01">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Сертификаты качества ISO 9001
                </h4>
            </div>
        </a>
        <div id="collapse01" class="panel-collapse collapse">
            <div class="panel-body"><span>Сертификат соответствия ISO 9001:2015</span><a href="https://owen.ua/uploads/73/iso9001-2015dstuukr.jpg" target="_blank" rel="noopener" data-pjax="0">Скачать</a></div>
            <div class="panel-body"><span>Сертификат соответствия ДСТУ ISO 9001:2015 (ISO 9001:2015, IDT)</span><a href="https://owen.ua/uploads/73/iso9001-2015dstuukr.jpg" target="_blank" rel="noopener" data-pjax="0">Скачать</a></div>
            @*<div class="panel-footer">Footer</div>*@
        </div>
    </div>
</div>
<p>&nbsp;</p>
<p><strong>СРЕДСТВА ИЗМЕРИТЕЛЬНОЙ ТЕХНИКИ (СИТ)</strong></p>
<p>В связи с введением с 01.01.2016 г. нового Закона Украины &laquo;О метрологии и метрологической деятельности&raquo; и введением с 01.09.2016 г. технического регламента (ТР) законодательно регулируемых средств измерительной техники (Постановление КМУ №94 от 13.01.2016 г.) все средства измерительной техники (СИТ) делятся на СИТ, которые используются в сфере законодательно регулируемой метрологии и СИТ, которые используются не в сфере законодательно регулируемой метрологии.</p>
<ul>
    <li>СИТ, которые&nbsp;<strong>используются в сфере законодательно регулируемой метрологии</strong>, должны проходить оценку соответствия по соответствующему ТР, заносятся в новый реестр СИТ и будут иметь сертификат проверки типа, сертификат соответствия, Декларацию соответствия данному ТР и будут маркироваться знаком законодательно регулируемого СИТ&nbsp;<img src="https://owen.ua/uploads/63/sit.png" alt="знаком законодательно регулируемого СИТ будут маркироваться СИТ, которые используются в сфере законодательно регулируемой метрологии  " width="24" height="24" />&nbsp;. При эксплуатации данные СИТ подлежат периодической поверке.</li>
    <li>СИТ, которые&nbsp;<strong>не используются в сфере законодательно регулируемой метрологии</strong>, не заносятся в новый реестр СИТ и не будут иметь сертификат проверки типа, сертификат соответствия и Декларацию соответствия данному ТР и не будут маркироваться знаком законодательно регулируемого СИТ. Оценка соответствия таких СИТ проводится на добровольной основе. При эксплуатации такие СИТ подлежат добровольной поверке. При необходимости при покупке СИТ Заказчик может попросить производителя провести добровольную поверку или добровольную оценку соответствия покупаемых СИТ в соответствующем метрологическом центре. Данные работы оплачивает Заказчик.</li>
</ul>
<p>&nbsp;</p>
<p><strong>СИТ, занесенные в реестр СИТ Украины до 01.01.2016 г. и имеющие сертификат соответствия утвержденному типу, могут применяться во всех сферах до окончания срока действия сертификата соответствия.</strong></p>
<p>&nbsp;</p>