@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Быстрее чем  производители!</h1>
    <p class="lead">Что бы заказать оборудование просто закажите его ! </p>
    <p>
        <a href="/Home/InfoPaymentDelivery" class="btn btn-primary btn-lg">Читать больше &raquo;</a>
        <a href="/Home/Catalog" class="btn btn-success btn-lg" style="margin-left:10px;">Каталог &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        @*<h2>Уточнение</h2>*@
        <h2>Lorem</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            @*  И наш местный <b>Пид..</b> представитель вам перезвонит для уточнения деталей.*@
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    
</div>