
<div class="paymant">
    <h3><strong>Доставка</strong></h3>
    <p><em>Цены указаны без учета стоимости доставки Покупателю. Стоимость доставки рассчитывается по тарифам компаний-перевозчиков.</em></p>
    <h3>Способы доставки:</h3>
    <p>&laquo;Нова пошта&raquo; - Доставка в отделение &laquo;Нова пошта&raquo; или курьерская доставка в удобное для Вас время!</p>
    <p>С помощью доставки &laquo;Нова пошта&raquo;, Вы можете получить товар даже в самых отдаленных уголках Украины.</p>
    <p>Стоимость доставки от 50 грн.<br /> Возможность отправки в день оплаты. При условии наличия товара на складе и оплаты до 12.00.</p>
    <p>Экспресс перевозка грузов через ЧП &laquo;Ночной экспресс&raquo; <br />Расчет стоимости перевозки осуществляется исходя из весовых или габаритных характеристик груза и тарифной зоны доставки.</p>
    <h3>Способ оплаты:</h3>
    <ul>
        <li><strong>Онлайн перевод Приват24</strong> (Оплата припомощи приложения Приват24 или терминал)</li>
        <li><strong>Наличная</strong>* (Оплата наличными при получении товара) *Предоплата 150 грн перед отправкой, которая вычитается из суммы наложенного платежа.</li>
        <li><strong>Оформление счета-фактуры</strong>, по которому совершается оплата в банке или с расчетного счета компании* (*возможность такого способа оплаты уточняйте у менеджера)</li>
    </ul>
    <h3>Возврат и замена:</h3>
    <ol>
        <li>Возврат и замена товара по инициативе Покупателя возможны в течении 14 календарных дней, при этом накладные расходы оплачиваются Покупателем.</li>
        <li>В случае отказа от получения наложенного платежа покупатель оплачивает стоимость его пересылки в обе стороны. (Предоплата 150 грн перед отправкой, которая вычитается из суммы наложенного платежа)</li>
        <li>Возвращаемый товар не должен иметь признаков эксплуатации и изменений.</li>
    </ol>
    <h3>Гарантия:</h3>
    <p>Гарантийный срок указан в паспорте, которым комплектуется прибор:<br /> <br />- на ПЧВ ОВЕН - 3 года. <br />- на ТРМ1хх - 5 лет. <br />- на все остальное оборудование ОВЕН - 2 года.</p>
</div>
